// src/sass/styles.scss

@import './variables';
@import './mixins';

body {
    font: normal 100.01% Helvetica;
  }

  @media screen and (min-width: 900px) {
  
   ul#menu {
    @include ulMenu;
   }
  
   ul#menu li {
     @include menuLi;
   }

   ul#menu a, ul#menu span {
     padding: 0.2em 1em;
     text-decoration: $none; ;
     color: #8599AD; 
     background-color: $ColorMenu;
   }
  
   ul#menu a:focus /* Quand le visiteur sélectionne le lien */{
    color: white;
   }
  
  * html ul#menu a, * html ul#menu span {
    width: 1em;    /* nécessaire pour IE 5.0x seulement */
    width: auto;  /* annulé par mesure de sécurité pour IE 6 */
  }
  
  ul#menu a:hover, ul#menu span {
    border-color: white;
    border-left-color: black; 
    border-top-color: black;
    color: white; 
    background-color: $ColorMenu;
  }

  
   ul#menu li#hamburger {
    display: $none;
   }
   
   ul#menu li #searchbar{
    position:relative;
    width:1000px; 
    height:auto; 
    float:$right; 
   }

  .formulaire{
    display:inline-block; 
    float:$right; 
   }

  .formulaire .champ{
      width:140px; 
      height:30px; 
      float:$right; 
   } 
  .formulaire .bouton{
     background-repeat: no-repeat;
     width: 35px;
     height: 35px;
     padding: 0; 
     margin: -1em; 
     padding: 1em;
   }

   #header{
     height:2px;
     width:100%;
     background-color:#DDDDDD;
   }

   div#populaire{
     margin-left: $px ;
     margin-right: $px ;
     width: 60em;
   }

   .image{
   height: $px ;
   width: 400px;
   }

  .bordure{
    @include bordure (400px, 10px);
   }

  .more{
    @include more (80px);
   }

  .acheter{
      @include more (125px);
   }
   
   div#recommandé{
    margin-left: $px ;
    margin-right: $px ;
    width: 60em;
   }

   div#liste{
    margin-left: $px ;
    margin-right: $px ;
    width: 60em;
   }
   
   .paragraphe{
       text-align: $justify;
    }
}

@media screen and (max-width: 900px)
{
    
 ul#menu {
    @include ulMenu;
  }
  
  ul#menu li {
    @include menuLi;
  }

  ul#menu a#display {
  display: $none;
  }
  
  ul#menu li#hamburger {
    float: $right;
   }


  .more{
     @include more (80px);
   }
   
   .image{
     height: 200px;
     width: 100%;
   }
   
   .bordure{
    @include bordure (100%, 0);
   }
   
   .paragraphe{
      text-align: $justify;
    }
	
    .acheter{
      @include more (125px);
   }
}

